@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@700&display=swap');

.clock-design{
  margin-top: 430px;
  text-align: center;
}
.time{
  font-size: 150px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #f32170,
            #ff6b08, #cf23cf, #eedd44);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}

.date{
  font-size: 70px;
  font-weight: bold;
  margin-right: -460px;
  background: linear-gradient(to right, #f32170,
            #ff6b08, #cf23cf, #eedd44);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
